*{
    margin: 0; 
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #000;
    color: #fff;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: 
      linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
      url("https://assets.nflxext.com/ffe/siteui/vlv3/30c8b9f4-3db9-4b3b-a1ee-8fa56531b712/web/KR-ko-20251201-TRIFECTA-perspective_ae2ba3a6-ffd4-4b8f-847a-7e8abd877b31_large.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.language-btn{
    display: inline-flex;
    align-items: center;
    border: 1px solid #fff;
    padding: 7px 10px;
    background: transparent;
}

.language-btn img{
    width: 10px;
    margin-left: 10px;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 650px;
}

.header-content h1{
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
}
